.button {
    position: relative;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 5rem;
    padding: .7rem 1.5rem;
    font-weight: 500;
    overflow: hidden;
}

.button.primary {
    background-color: var(--ifm-color-primary);
    color: white;
    border: 2px solid var(--ifm-color-primary);
}

.button.secondary {
    background-color: transparent;
    color: var(--ifm-color-primary);
    border: 2px solid var(--ifm-color-primary);
}

.button:hover .light {
    opacity: 1;
}

.light {
    top: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    width: 8rem;
    height: 8rem;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, .1) 0%, transparent 70%);
    z-index: 10;
}
